<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>MatrimonallWebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>A page to search the profile</description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.tutorials.jdbc.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/Search1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchListServlet</display-name>
    <servlet-name>SearchListServlet</servlet-name>
    <servlet-class>com.tutorials.jdbc.SearchListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchListServlet</servlet-name>
    <url-pattern>/Search2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPersonServlet</display-name>
    <servlet-name>SearchPersonServlet</servlet-name>
    <servlet-class>com.tutorials.jdbc.SearchPersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPersonServlet</servlet-name>
    <url-pattern>/Search5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyProfileServlet</display-name>
    <servlet-name>MyProfileServlet</servlet-name>
    <servlet-class>com.tutorials.jdbc.MyProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyProfileServlet</servlet-name>
    <url-pattern>/MyProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListServlet</display-name>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>com.tutorials.jdbc.UserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/UserListServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.tutorials.jdbc.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLogin2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminViewServlet</display-name>
    <servlet-name>AdminViewServlet</servlet-name>
    <servlet-class>com.tutorials.jdbc.AdminViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminViewServlet</servlet-name>
    <url-pattern>/View4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditServlet</display-name>
    <servlet-name>AdminEditServlet</servlet-name>
    <servlet-class>com.tutorials.jdbc.AdminEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditServlet</servlet-name>
    <url-pattern>/Edit1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateServlet</display-name>
    <servlet-name>AdminUpdateServlet</servlet-name>
    <servlet-class>com.tutorials.jdbc.AdminUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateServlet</servlet-name>
    <url-pattern>/Update1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCreateServlet</display-name>
    <servlet-name>AdminCreateServlet</servlet-name>
    <servlet-class>com.tutorials.jdbc.AdminCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCreateServlet</servlet-name>
    <url-pattern>/Create1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSearchServlet</display-name>
    <servlet-name>AdminSearchServlet</servlet-name>
    <servlet-class>com.tutorials.jdbc.AdminSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchServlet</servlet-name>
    <url-pattern>/Search6</url-pattern>
  </servlet-mapping>
</web-app>